.oficinistas-container{
	margin-top: 50px;
	padding: 20px;
	background-color: #f7f7f7;
	overflow: auto;
	white-space: nowrap;
}

.drag-container{
    background-color: #fff;
	width: 100px;
	height: 130px;
	display: inline-block;
	border-radius: 10px;
}

.oficinista-img-male{
	width: 100px;
	height: 100px;
	margin-top:10px;
	background-image: url("../img/avatar.png");
	background-size: cover;
}
.oficinista-img-female{
	width: 100px;
	height: 100px;
	margin-top:10px;
	background-image: url("../img/avatar_female.png");
	background-size: cover;
}
#oficicinsta-title{
	font-size: 14px;
	margin-left: 2px;
	margin-top: 2px;
	font-weight: bold;
	color:#3f9ae5;
	text-align: center;
}
.puestos-container{
	margin-top: 50px;
	padding: 20px;
	background-color: #f7f7f7;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}
.drop-container{
	width: 120px;
	/* height: 120px */
	/* padding:10px; */
	margin: 20px;
}

#puesto-title{
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color:#F86617;
	margin-left: 15px;
	margin-top: 10px; 
}

.puesto-img{
	margin: 10px;
	width: 100px;
	height: 130px;
	background-color: #fff;
	background-image: url("../img/puesto.png");
	background-size: cover;
	border-radius: 10px;

}

