.oficinistas-container{
	margin-top: 50px;
	padding: 20px;
	background-color: #f7f7f7;
	overflow: auto;
	white-space: nowrap;
}

.drag-container{
    background-color: #fff;
	width: 105px;
	height: 145px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 10px;
	white-space: normal;
	overflow: hidden;
}

.oficinista-img-male{
	width: 100px;
	height: 100px;
	margin-top:10px;
	background-image: url("../img/avatar.png");
	background-size: cover;
}
.oficinista-img-female{
	width: 100px;
	height: 100px;
	margin-top:10px;
	background-image: url("../img/avatar_female.png");
	background-size: cover;
}
#oficicinsta-title{
	font-size: 14px;
	margin-left: 2px;
	margin-top: 2px;
	font-weight: bold;
	color:#3f9ae5;
	text-align: center;
}
.puestos-container{
	margin-top: 50px;
	padding: 20px;
	background-color: #f7f7f7;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}
.drop-container{
	width: 130px;
	margin: 20px;
	
}

#puesto-title{
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color:#F86617;
	margin-left: 15px;
	margin-top: 10px; 
}

.puesto-img{
	margin: 10px;
	width: 105px;
	height: 145px;
	background-color: #fff;
	background-image: url("../img/puesto.png");
	background-size: cover;
	border-radius: 10px;

}

.infor:before{
	height: 40px;
}
.infor{
	visibility: hidden;
	margin-top: 20px;
	margin-left: -10px;
	margin-bottom: 100px;
	background-color: var(--success);
	color: #fff;
	border-radius: 6px;
	font-size: 14px;
	padding: 20px 20px;
	position: relative;
	height: auto;
	z-index: 1;
}

.drop-container:hover ~.infor{
	visibility: visible;

}

