.tooltiptext{
  visibility: hidden;
  width: 45px;
  background-color: #3490dc;
  border: 1px solid #3490dc;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
}
.icono-action{
	color:#878a8f;
	font-size: 18px;
	margin-top:10px;
}

.icono-action:hover{
	color:#3490dc;
}

.icono-action:hover ~.tooltiptext{
	visibility: visible;
}

.container-buttons{
  margin:20px 10px;
  display: flex;
  float: right;
}
.container-buttons .btn{
  margin-right: 5px;
  color:#fff;
}
