.tooltiptext{
  visibility: hidden;
  width: 45px;
  background-color: #3490dc;
  border: 1px solid #3490dc;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
}
.icono-action{
	color:#878a8f;
	font-size: 18px;
	margin-top:10px;
}

.icono-action:hover{
	color:#3490dc;
}

.icono-action:hover ~.tooltiptext{
	visibility: visible;
}

.container-buttons{
  margin:20px 10px;
  display: flex;
  float: right;
}
.container-buttons .btn{
  margin-right: 5px;
  color:#fff;
}

.mcard{
 margin-top:50px;
 padding: 30px;

}

.asuntos-container{
  
  padding:10px 10px 10px 10px;
}
.mAsunto{
 

  float: left;
  padding: 10px 3px 10px 10px;
  margin-right: 10px;

}
.mAsunto .mClose{
  background-color:#d6e9f8;
  float: right;
  border:0;
  margin-left: 5px;
}
.mAsunto strong{
  margin-right: 5px;  
}






